extends ./layout.jade

block content
  .row
    .col-sm-12
      h1 Translate-Stories
      h3 Asia Foundation Prototype
  .row
    .col-sm-6
      h4 African Storybook Project books
      ul
        li
          a(href="/book#0352") Sample Book
        li
          a(href="/book?thai#0352") Sample Thai UI
    .col-sm-6
      h4 ePUB + ReadiumJS
      ul
        li
          a(href="/epub") Sample ePUB
        li
          a(href="/epub2") ePUB from InDesign
  .row
    .col-sm-6
      h4 API
      ul
        li
          a(href="/api/books") All Books and Translations - JSON API
        li
          a(href="/api/books/0352") Translations for Book with id ID
    .col-sm-6
      h4 Verifying Translations
      ul
        li
          a(href="/register") Register user
        li
          a(href="/login") Login user
        li
          a(href="/verify") Verifying translations for logged-in users

block scripts
