extends ./layout.jade

block content
  .row
    .col-sm-12
      #viewport
  .row
    .col-sm-12
      button#prev &larr;
      button#next &rarr;

block scripts
  //
    script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
    script(type="text/javascript", src="/lib/require.js")
  script(type="text/javascript", src="/lib/readium-js_all.js")
  script(type="text/javascript", src="/readium-test.js")
