extends ./layout.jade

block content
  .row
    .col-sm-12
      h1 Translate-Stories
  if forUser
    .row
      .col-sm-12.col-md-6
        p Hey, you're already logged in.
        br
        a(href="/logout")
          button.btn.btn-inverse Log Out
  else
    .row
      .col-sm-12.col-md-6
        form.well(action="/register", method="POST")
          p Let's sign you up.
          label Username
          input(type="text", name="username")
          label Password
          input(type="password", name="password")
          label Permissions
          label
            input(type="checkbox", name="canVerify", checked="checked")
            span Verify Translations
          br
          label List Languages, first language first (eg "English, Thai")
          br
          select.languagelist(name="languages", multiple="multiple")
            option(value="en") English
            option(value="th") Thai
            option(value="karen") Karen
          br
          br
          input(type="hidden", name="_csrf", value="#{csrfToken}")
          button.btn.btn-success Register New User
        .well
          span Already have an account?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          a(href="/login").btn.btn-info Log In

block scripts
  link(rel="stylesheet", type="text/css", href="/lib/select2.min.css")
  
  script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
  script(type="text/javascript", src="/lib/select2.full.js")
  script(type="text/javascript", src="/select-languages.js")
