extends ../layout.jade

block content
  .row
    .col-sm-12
      .page-header
        h3
          span Translate Stories&nbsp;&nbsp;&nbsp;
          small Verifying
          .pull-right
            if user
              a(href="/profile")
                img.profile(src="#{user.photo || '/profile.png'}", alt="profile photo - click to access your own profile")
              a.btn.btn-primary(href="/logout") Log Out
            else
              a.btn.btn-primary(href="/login") Log In
  .row
    .col-sm-6
      select.language-select
        option(value="") All Languages
        for lang in Object.keys(languageKeys)
          option(value=lang)= languageKeys[lang]
      
    .col-sm-6
      .form.searchable
        .input-group
          input.form-control(type="text", name="q", placeholder="Search by title...")
          span.input-group-btn
            button.btn.btn-default(type="button")
              span Search
  br
  br
  .row.library
    for source in sources.slice(0, 4)
      include sourcetile
  .row.library
    for source in sources.slice(4, 8)
      include sourcetile
  hr

          
block scripts
  script(type="text/javascript", src="/lib/jquery-1.11.3.min.js")
  script(type="text/javascript", src="/browse-library.js")
