#viewport, .book-frame, .reflowable-content-frame {
  height: 600px;
}

#viewport {
  opacity: 0;
}

.navbar .navbar-nav>li>div {
  padding: 8px 12px;
  margin: 12.5px 6px;
  border: 1px solid transparent;
}

.navbar .editable {
  width: auto;
}

.navbar .editable[placeholder]:empty:before {
  border: 1px solid #000;
  padding: 8px;
}

.owl-item .img-holder {
  text-align: center;
}

.owl-carousel .owl-item img {
  max-height: 300px;
  max-height: 40vh;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.owl-carousel .owl-item input {
  border: 2px solid #ccc;
  padding: 4px;
  font-size: 120%;
}

#framebottom {
  height: auto !important;
  padding-bottom: 5px;
}

.owl-nav > div {
  display: inline-block;
  padding: 4px;
  border: 1px solid #444;
  border-radius: 3px;
  margin-right: 20px;
  background-color: #39d;
  color: #fff;
}

#attribution {
  border-top: 1px solid #000;
  margin-top: 15px;
  padding: 10px;
}

.navbar-default {
  background-color: #39d;
  color: #fff;
}

.navbar-default select {
  color: #000;
}

button.done {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

form.well label, form.well input {
  display: block;
  margin: 6px;
}

form.well label input {
  display: inline;
}
